/* Footer design */
.footer {
  background-color: $footer;
  padding: 30px;
}

.footer p {
  color: $social;
  padding: 5px;
}

.footer i {
  color: $social;
  padding: 10px;
}

.contact {
  padding: 30px;
}

.feature {
  padding: 100px;
}
