<div class="footer">
  <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
  <i class="fa fa-3x fa-youtube" aria-hidden="true"></i>
  <i class="fa fa-3x fa-facebook" aria-hidden="true"></i>
  <i class="fa fa-3x fa-twitter" aria-hidden="true"></i>
  <p>Challenge Done @LeWagon Batch 68</p>
</div>
